filebeat.registry_file: {{ filebeat_registryfile }}
filebeat.inputs:
{% for input in filebeat_inputs %}
  - fields: {{ input.fields|default(filebeat_fields)|to_json }}
    fields_under_root: {{ input.fields_under_root|default(filebeat_fields_under_root)|bool|to_json }}
    tags: {{ input.tags|default([])|union(filebeat_tags)|to_yaml }}
    paths: {{ input.paths|to_json }}
{% if input.exclude_files is defined %}
    exclude_files: {{ input.exclude_files|to_json }}
{% endif %}
{% if input.multiline is defined %}
    multiline:
{% if input.multiline is mapping %}
      pattern: '{{ input.multiline.pattern|default(filebeat_multiline_pattern)|to_json }}'
      negate: {{ input.multiline.negate|default(filebeat_multiline_negate)|bool|to_json }}
      match: {{ input.multiline.match|default(filebeat_multiline_match) }}
{% else %}
      pattern: {{ input.multiline|to_json }}
      negate: {{ filebeat_multiline_negate|bool }}
      match: {{ filebeat_multiline_match }}
{% endif %}
{% endif %}
{% if input.include_lines is defined %}
    include_lines: {{ input.include_lines|to_json }}
{% endif %}
{% if input.exclude_lines is defined %}
    exclude_lines: {{ input.exclude_lines|to_json }}
{% endif %}

{% endfor %}
output.logstash:
  hosts: {{ filebeat_logstash_hosts|to_json }}
  index: {{ filebeat_index }}
shipper:
logging:
  level: {{ filebeat_log_level }}
  to_files: true
  to_syslog: false
  files:
    name: {{ filebeat_logfile }}
    rotateeverybytes: {{ filebeat_log_rotate_every_mb * 1024 * 1024 }}
