[Unit]
Description=Filebeat sends log files to Logstash
Requires=network-online.target
After=network-online.target

[Service]
User={{ filebeat_user }}
ExecStart={{ filebeat_exec }} -c {{ filebeat_configfile }}
Restart=always

[Install]
WantedBy=multi-user.target
